a {
  text-decoration: none;
  display: flex;
  flex: 1;
  display: inline;
  padding-left: 75px;
  padding-right: 75px;
}

nav a.active {
  text-decoration: underline;
}

.red {
  background: red;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.blue {
  background: blue;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
